body {
margin:0px;
}




.navigation  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid green;
  list-style-type: none;
  width: 100%;
}

.navigation > li {
  margin: 6em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  
}

.searchBar {
height:2em;
border: 3px solid yellow;
margin-top:auto;
margin-bottom: auto;

text-align: left;

}

.upperBar {
  
  border: 5px solid red;
  display: flex;
  flex-direction: row;
  column-gap: 6em;
  justify-content: space-between;
  position: relative;
  
}


.format {
  
  border: 5px solid blue;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding:2em;
}

.userProfile {
border: 2px solid black;
}


.sidebar  {
  
 border: 5px solid orange;
float: right;
width: 20%;
height:75em;
text-align: left;
}

.sidebar > ul {
list-style-type: none;
font-size: 1.5em;
line-height: 5em;
margin-top: 5em;
}

.searchResult {
border: 5px solid purple;
float: left;
width: 20%;
height:75em;

}

.selectBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sortBy {
  border: 2px solid violet;
  width: max-content;
}

.filter {
  border: 2px solid indigo;
  width: max-content;
}


.feedList {
  
  list-style-type: none;
  margin-top: 5em;
  text-align: center;
  border: 5px solid brown;
  padding: 2em;
}


.eachFeed {
  border: 5px solid grey;
  
}


