body {
margin:0px;
}




.navigation  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid #893899;
  list-style-type: none;
  position: relative;
  border-radius: 2em;
  background-color: #354c7e
}

.navigation > li {
  margin: 2em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:azure
}

.searchBar {

border: 1px solid yellow;
margin-top:auto;
margin-bottom: auto;
border-radius: 5em;
margin-left: 0.5%;
padding:0.5em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: left;
border: 3px solid #893899;
background-color: #354c7e;
color:azure;
}

.upperBar {
  
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#7e3972;
  border: 5px solid #7e3972;
  
 
}


.format {
  
  border: 5px solid blue;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding:2em;
height:50em;

}

.userProfile {
  display: flex;
  background-color:#944aa3;
 column-gap: 1em;
 padding-left: 1em ;
 padding-right: 1em;
 border:2px solid #944aa3;
 border-radius: 2em;

}


.sidebar  {
  
  color:azure;
float: right;
width: 20%;
height:75em;
text-align: left;
background-color: #7e3972;
}

.sidebar > ul {
list-style-type: none;
font-size: 1.5em;
line-height: 5em;
margin-top: 5em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.searchResult {

float: left;
width: 20%;
height:75em;
background-color: #7e3972;

}

.selectBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.sortBy {
  border: 2px solid violet;
  width: max-content;
}

.filter {
  border: 2px solid indigo;
  width: max-content;
}


.feedList {
  
  list-style-type: none;
  margin-top: 5em;
  text-align: center;
  border: 5px solid brown;
  padding: 2em;
  
}


.eachFeed {
  border: 5px solid grey;
  margin-top: 5%;
  
}


.postTitle {
  text-align: left;
  font-size: 2em;
}

.userPost   {
  text-align: left;
  border: 1px solid grey;
 
}

.postContent {
  
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.votes {
  text-align: left;
  border: 1px solid grey;
}

.date {
  
  text-align: right;
border:1px solid grey;
}



.comment_amount {
  text-align: left;
}

.searchResult > ul {
  
  list-style-type: none;
  
  width:15em;
}


.eachSearch {
  background-color: #354c7e;
  border: 1px solid  #354c7e;
  text-align: left;
  border-radius: 2em;
  padding:0.5em;
  margin-top: 2em;
  margin-left: -10%;
}

.searchImg {
  
  border:1px solid black;
  border-radius: 5em;
  
}

.searchUsername {
  font-size: 1.5em;
}

.top {
  display: flex;
  flex-direction: row;
  column-gap: 1em;;
}
.bio {
  text-align: center;
}


.userPage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border:5px solid darkgreen;
  border-radius:4em ;
  padding:2em;
  width:50%;
  
  
}
.userBioImg {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}


.secondPart {
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
}
.username {
  font-size: 3em;
}
.bioResult {
  font-size: 2em;
}

.pageProfile {
  border: 1px solid black;
  border-radius: 15em;
}


.proImg {
  height:3em;
   width:3em;
   border-radius: 5em;
   margin-top: auto;
   margin-bottom: auto;
}



.login > form {
  
 
  display: flex;
  flex-direction: column;
 text-align: center;
 justify-content: center;
  background-color: rgb(8, 105, 8);
  color:whitesmoke;
 
  
} 

.login {

  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}


.bg-apply {
  background-image:url("../images/gaming.jpg") "no-repeat";
}




.postButton {
  
  margin-left: auto;
  margin-right: auto;
  
  border:5px solid red;
  
  width:50%;
  margin-top:5%;
  padding: 2em;
}

.postButton > button {
  
  
}

.postType {
  display: flex;
  flex-direction: row;
  column-gap: 50%;
  justify-content: center;
}


.postForm {
  text-align: center;
  border: 5px solid red;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  padding:2em;
}


.discussionForm > form {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  text-align: center;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  padding:2em;
}
a:link {
  text-decoration: none;
}
a:visited {
  color:azure;
  text-decoration: none;
}

a:hover {
  color: #dbb75a;
}
